<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="">
</head>

<body>
    <header class="display-flex justify-space-between align-center p-2">
        <a href="/">
            <h1>
                Tech Blog
            </h1>
        </a>
        <nav>
            {{#if loggedIn}}
            <a href="/dashboard/createpost"><button>Create New Post</button></a>
            <button class="btn" id="logout">logout</button>
            {{/if}}
            {{#unless loggedIn}}
            <a href="/signup"><button>Sign Up</button></a>
            <a href="/login"><button>Login</button></a>
            {{/unless}}
        </nav>
    </header>
    <main class="container container-fluid mt-5">
        {{{ body }}}
    </main>
    <footer>

    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>